{% extends 'base.html' %}

{% block head %} 
<title>Change Password</title>
{% endblock %}

{% block body %} 
<h1 class="login_header">Change Password</h1>

<div class="welcome_message">
    <p>Choose your new password, {{ username }}</p>
</div>

<form action="{{ url_for('changepassword') }}" method="post" autocomplete="off">

    <div class="login_details">
        <label for="verify_password">
            <p class="username_label">Verify Current Password</p>
        </label>
        <input type="password" name="current_password" placeholder="Current password" required>
    </div>


    <div class="login_details">
        <label for="password">
            <p class="username_label">New Password</p>
        </label>
        <input type="password" name="password" placeholder="New password" id="password" required>
    </div>

    <div>
        <input type="submit" value="Change Password">
    </div>

    <div class="msg">
        {{ msg }}
    </div>

    <div>
        <a href="{{ url_for ('logout') }}">Logout</a>
        <p class="divider">|</p>
        <a href="{{ url_for ('loggedin') }}">Back</a>
    </div>

</form>

{% endblock %}