{% extends 'base.html' %}



{% block head %} 
<title>Register Page</title>
{% endblock %}




{% block body %} 
<h1 class="login_header">Register Page</h1>
<form action="{{ url_for('register') }}" method="post" autocomplete="off">
    <div class="login_details">
        <label for="username">
            <p class="username_label">Username</p>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>
    </div>

    <div class="login_details">
        <label for="password">
            <p class="password_label">Password</p>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
    </div>

    <div class="msg">{{ msg }}</div>

    <div>
        <input type="submit" value="Register">
    </div>

    <div>
        <a href="{{ url_for ('index') }}">Back to login page</a>
    </div>

</form>
{% endblock %}